<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../Layouts/Head.ejs') %>
</head>

<body>

    <div class="container-scroller">
        <%- include ('../Layouts/Sidebar.ejs') %>
            <div class="container-fluid page-body-wrapper">
                <%- include ('../Layouts/Header.ejs') %>
                    <div class="main-panel">
                        <div class="content-wrapper pb-0">

                            <%- include ('../Content/movieEditContent.ejs') %>
                        </div>

                        <%- include('../Layouts/Footer.ejs') %>
                    </div>
            </div>
    </div>
    <%- include ('../Layouts/Jsfooter.ejs') %>
</body>

</html>